<div class="main_info">
<div class="split left">
  <% unless @transactions.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 30%">Transaction date and time</th>
      <th style="width: 20%">Transaction id</th>
      <th style="width: 30%">Transaction amount</th>
      <th style="width: 20%">Transaction confirmation status</th>
    </tr>
    </thead>
    <tbody style="overflow: scroll">
      <% @transactions.each do |block| %>

        <tr>
          <td><%= transaction_time block %></td>
          <td><%= transaction_id block %></td>
          <td><%= transaction_amount block %></td>
          <td><%= status block %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <h2 id="NoTransactionsAvailable">NoTransactionsAvailable</h2>
  <% end %>
    </div>
<div class="split right">
  <div class="centered">
  </div>
</div>
</div>