
 #NoTransactionsAvailable{
   width: 100%;
   height: 20vh;
   display: block;
   margin: 0 auto;
 }

 .left {
   overflow-y: auto;
   position: absolute;
   left: 0;
   height: 100vh;
 }
 .main_info{
   height: 80vh;
 }